<div class="header">
      <div class="navbar navbar-default" role="navigation" >

        <div class="container" >
            <a class="navbar-brand navbar-right" href="#">
                <img src="./images/logo.gif" alt="">
            </a>

          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

         
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li >
                  <a style="border-right: 1px solid #EFEFEF"   href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Agence">
                      <i style="font-size:1.6em" class="fa fa-home text-center" aria-hidden="true"></i><br/>
                      <span style="font-size:0.7em" >Agence</span>
                  </a>
              </li>

              <li>
                  <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Projectos">
                      <i style="font-size:1.6em" class="fa fa-file-text" aria-hidden="true"></i><br/>
                      <span style="font-size:0.7em" >Projectos</span>
                  </a>
              </li>
              <li>
                <a href="javascript:void(0)"  data-toggle="tooltip" data-placement="bottom" title="Panel administrativo">
                    <i class="fa fa-user-secret" style="font-size:1.6em" aria-hidden="true"></i><br/>
                    <span style="font-size:0.7em" >Administrativo</span>
                </a>
              </li>

              <li  class="dropdown">
                <a href="javascript:void(0)" 
                    class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom" title="Comercial">
                        
                        <i class="fa fa-shopping-cart" style="font-size:1.6em" aria-hidden="true"></i><br/>
                        <span style="font-size:0.7em" >Comercial</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Performance Comercial</a></li>
                </ul>
              </li>


              <li>
                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Financeiro">
                    <i class="fa fa-building" style="font-size:1.6em" aria-hidden="true"></i><br/>
                    <span style="font-size:0.7em" >Financeiro</span>
                </a>
              </li>

              <li>
                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Usuario">
                    <i class="fa fa-user" style="font-size:1.6em" aria-hidden="true"></i><br/>
                    <span style="font-size:0.7em" >Usuario</span>
                </a>
              </li>

              <li>
                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Salir del sistema">
                    <i class="fa fa-sign-out" style="font-size:1.6em" aria-hidden="true"></i><br/>
                    <span style="font-size:0.7em" >Salir</span>
                </a>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>

